#content {
  position: absolute;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.conversations {
  width: 33vw;
  height: 100vh;
  float: left;
  display: inline-block;
  background-color: #F5F5F5;
  box-sizing: border-box;
  border-right: 2px solid #D5D3D3;
}

.search-and-new {
  width: 100%;
  padding: 5px 20px;
  border-bottom: 2px solid #D5D3D3;
}

.form-control.search-conversations {
  width: calc(100% - 40px);
  float: right;
  display: inline-block;
}

.messages {
  width: 67vw;
  min-width: 400px;
  height: 100vh;
  float: left;
  display: inline-block;
  background-color: #E3E9EB;
  box-sizing: border-box;
}

.messages .current-conversation {
  height: 90vh;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.messages .new{
  width: 100%;
  float: left;
}

.new-message {
  margin: 0 auto;
  width: 90%;
}

.new-message .btn {
  float: right;
}

.messages .btn {
  display: inline-block;
}

.current-user-message, .other-message {
  border-radius: 20px;
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  word-wrap: break-word;
}

.current-user-message {
  background: #BBF588;
  background: -webkit-linear-gradient(#D9FEC3, #B7E490);
  background: -o-linear-gradient(#D9FEC3, #B7E490);
  background: -moz-linear-gradient(#D9FEC3, #B7E490);
  background: linear-gradient(#D9FEC3, #B7E490);
  float: right;
  box-shadow: -2px 2px #ccc;
  border-bottom-right-radius: 0px;
}

.other-message {
  background: #E5A5F3;
  background: -webkit-linear-gradient(#EFC8F9, #BAA1BF);
  background: -o-linear-gradient(#EFC8F9, #BAA1BF);
  background: -moz-linear-gradient(#EFC8F9, #BAA1BF);
  background: linear-gradient(#EFC8F9, #BAA1BF);
  float: left;
  box-shadow: 2px 2px #ccc;
  border-bottom-left-radius: 0px;
}

.conversation {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #D5D3D3;
  font-size: 20px;
  text-align: left;
  padding: 5px;
}

.demo-img {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  background-color: blue;
  display: inline-block;
  position: relative;
}

.text {
  height: 40px;
  padding-left: 5px;
  vertical-align: top;
  width: calc(100% - 50px);
  display: inline-block;
}

.conversation:hover {
  background-color: #FAFFFF;
}

.most-recent {
  font-size: 12px;
  color: #999;
  margin-top: -3px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-conversation, .active-conversation:hover {
  background: #C4CAD6;
  background: -webkit-linear-gradient(#D0D6E2, #BDC5D4);
  background: -o-linear-gradient(#D0D6E2, #BDC5D4);
  background: -moz-linear-gradient(#D0D6E2, #BDC5D4);
  background: linear-gradient(#D0D6E2, #BDC5D4);
  border-bottom: 1px solid #B0B7C8;
}

.message-notification {
  width: 10px;
  height: 10px;
  background-color: #990000;
  border-radius: 50%;
  position: relative;
  bottom: 50px;
  left: 35px;
}
